<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="index">

<div id="wrapper">
    <header id="header">
        <div class="logotype">
            <h1>аэроэкспресс</h1>
        </div>
    </header>

    <noscript>Для отображения вам необходимо подключить JavaScript</noscript>
    <main id="vue"> 

        <form>
            
            <p>Номер телефона: {{ input_1 }}</p>
            <input v-model="input_1" placeholder="+7 777 777 77 77">
            <p>Инн: {{ input_2 }}</p>
            <input v-model="input_2" placeholder="0000000000">
            <p>Организация: {{ input_3 }}</p>
                <select v-model="selected">
                    <option disabled value="">Выберите один из вариантов</option>
                    <option>OOO</option>
                    <option>OAO</option>
                    <option>ИП</option>
                </select>
            <input v-model="input_3" placeholder="отредактируй меня">
            <p>Юридический Адрес: {{ input_4_1 }}</p>
            <input v-model="input_4_1" placeholder="отредактируй меня">
            <p>Юридический Адрес: {{ input_4_2 }}</p>
            <input v-model="input_4_2" placeholder="отредактируй меня">
            <p>Почта: {{ input_5 }}</p>
            <input v-model="input_1" placeholder="mail@mail.com">
        </form>



    </main>


</div>
    <script src="./js/vue.js"></script>
    <script src="./js/script.js"></script> 
</body>
</html>